.navLink {
  display: flex;
  justify-content: flex-start;

  padding: var(--mantine-spacing-xs);

  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  color: var(--mantine-color-black);

  &:active {
    background-color: var(--mantine-color-purple-2);
  }

  &.active {
    font-weight: 700;
    line-height: var(--mantine-line-height-sm);
    color: var(--mantine-color-purple-5);
    background-color: var(--mantine-color-purple-2);
  }

  @media (hover: hover) {
    &:hover:not(.active) {
      color: var(--mantine-color-purple-4);
    }
  }
}
