@import "../../components/styles/Mixins.module.scss";

.trends_body {
  display: flex;
  margin-left: 20px;

  .films {
    width: 80%;
    @include FlexColumn;
    justify-content: space-around;

    .swiper_body {
      width: 100%;
      margin: 0px auto;
    }
  }
}
