.inputWrapper {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    top: 152px;
    font-size: 16px;
    font-weight: 400;
  }
  label {
    font-weight: 600;
    font-size: 18px;
    color: #344054;
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
  }
  
  input {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    height: 56px;
    top: 40px;
    left: 368px;
    color: #344054;
    background: #ffffff;
    border: 1px solid #d0d5dd;
  }
  
  input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: rgba(128, 133, 139, 1);
    padding-left: 10px;
  }
  
  .error {
    color: #db4437;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 4px;
  }