@import "../../components/styles/Mixins.module.scss";

.favorite_body {
  @include FlexRow;
  width: 95vw;
  align-items: center;
  justify-content: center;
  background: url("../../assets//Background.png");
  background-size: cover;
  margin-left: 20px;

  &_inner {
    @include FlexRow;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  & h1 {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);

    .link {
      font-size: 20px;

      &:hover {
        color: deeppink;
        // transform: translateY(10%);
        // transition: transform 1s ease-in-out;
      }
    }
  }
}
