.input {
  margin-left: 10px;
  margin-right: 15px;
  width: 75%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(152, 152, 152);
  cursor: pointer;
  padding-left: 20px;

  &:focus-visible {
    border: 0;

    border-image-width: 0;
  }
}
