.list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapTodo {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}