.filterRoot {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.filterWrapper {
  font-size: rem(14px);
}

.filterLabel {
  font-size: var(--mantine-font-size-sm);
  font-weight: 700;
  line-height: var(--mantine-line-hight-sm);
}

.inputRoot {
  overflow: hidden;
  display: flex;

  min-height: 42px;

  font-size: rem(14px);

  border-color: var(--mantine-color-grey-3);
  caret-color: var(--mantine-color-purple-5);
}

.selectDropdown {
  height: fit-content;
  padding: 4px;
  border: none;
}

.selectOption {
  padding: var(--mantine-spacing-xxs) var(--mantine-spacing-sm);
  font-size: rem(14px);
  font-weight: 400;
  line-height: 20px;

  &[data-checked='true'] {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-purple-5);
  }

  @media screen and (hover: hover) {
    &:hover:not([data-checked='true']) {
      background-color: var(--mantine-color-purple-1);
    }

    &:hover {
      background-color: var(--mantine-color-purple-4);
    }
  }
}

.resetButton {
  flex: 0 0 auto;

  height: 42px;
  padding: 0;

  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: var(--mantine-color-purple-5);

  &:disabled,
  &[data-disabled] {
    color: var(--mantine-color-grey-6);
  }

  &:active:not(:disabled) {
    color: var(--mantine-color-purple-6);
    background-color: transparent;
  }

  @media screen and (hover: hover) {
    &:hover:not(:disabled) {
      color: var(--mantine-color-purple-4);
    }
  }
}
