@import "../../components/styles/Mixins.module.scss";

.trends_body {
  display: flex;
  margin-left: 20px;

  .films {
    width: 80%;
    @include FlexColumn;
    justify-content: space-around;

    .swiper_body {
      width: 100%;
      margin: 0px auto;
    }

    h1 {
      margin-top: 80px;
    }
  }

  .movies {
    width: 80vw;
    @include FlexRow;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    border-top: 1px solid violet;
  }
}
