@import url("https://fonts.cdnfonts.com/css/exo-2");
.dark {
  background-color: #000000;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #ffffff;
}
.light {
  background-color: rgb(255, 255, 255);
}
button {
  cursor: pointer;
}
#root {
  background-color: black;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Exo 2", sans-serif;
}
.visualTheme.dark #root {
  background-color: #000000;
}
.visualTheme.light #root {
  background-color: white;
}

.visualTheme.dark h1 {
  color: #f6f7f9;
}

.visualTheme.light h1 {
  color: rgb(255, 255, 255);
}
