@import "../../components/styles/Mixins.module.scss";

.body_page {
  width: 100%;
  height: 60vw;
  background: url("../../assets/Background.png");
  background-size: cover;
  @include FlexRow;
  justify-content: center;
  align-items: center;
  color: white;

  .container_info {
    @include FlexColumn;
    justify-content: space-around;
    align-items: center;

    .btn_back {
      background: none;
      color: violet;
      border: 0px;
      margin-top: 20px;
      font-size: 15px;
    }
    .btn_back:hover {
      box-shadow: 10px 10px 25px rgb(208, 0, 255);
    }
  }
}
